@font-face {
  font-family: 'Shrek';
  src: url('assets/shrek.ttf');
}

:root {
  --primary-color: #898022;
  --background-color: #B5BF63;
}

html {
  background:var(--background-color);
  font-family: 'Source Sans Pro', sans-serif;
}


h1, h2, h3 {
  font-family: 'Shrek';
  text-align: center;
  color: var(--primary-color);
}

h1 {
  font-size: 64px;
  margin-bottom: 0;
}

h3 {
  margin-top: 10px;
  font-size: 24px;
}

.title-info {
  margin-bottom: 20px;
}

.title-photo {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
}

section h2 {
  font-size: 36px;
}

ul {
  max-width: 500px;
  margin-top: 0;
  margin-left: 150px;
}

.info li {
  list-style-type: "\1F983";
}

.survey li {
  list-style-type: '\1F342';
}
a:hover {
 color: var(--primary-color); 
}

a {
  color: black;
}


@media only screen and (max-width: 900px) {
  h1 {
    font-size: 36px;
  }

  section h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  section {
    margin: 0 10px;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding: 0 10px;
    max-width: none;
  }
}